body {
  background-color: #e2cbcd;
}
a {
  color: white;
}
header {
  color: white;
}
.color {
  background-color: #27014e;
}
#principal {
  color: #482a48;
}
.subtitulo {
  text-align: center;
  margin: 40px;
}
.fila {
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}
.centro {
  width: 50%;
  margin: auto;
}
.second {
  background-color: #f4f4f4;
  margin: 50px 70px 50px 20px;
}
.card-four {
  width: 100%;
  border: none;
  background: #f4f4f4;
  text-align: center;
  padding: 40px;
}
#experiencia {
  margin-top: 5px;
}
.experiencia {
  margin-top: 5px;
}
.portafolio {
  margin-bottom: 20px;
}
footer {
  background-color: #c0b283ad;
}
